{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>제목: {{post.title}}</h1>
    <p>작성자: {{post.writer}}</p>
    <p>등록일: {{post.pub_date}}</p>
    <p>햄스터 짤 url: {{post.hamster}}</p>
    <p>날씨: {{post.weather}}</p>
    <hr>
    {% if post.image %}
        <img src="{{post.image.url}}" alt="사진">
    {% endif %}
    <p>내용: {{post.body}}</p>
    <button type="button" onclick="location.href='{% url 'main:edit' post.id %}'">수정하기</button>
    <button type="button" onclick="location.href='{% url 'main:delete' post.id %}'">삭제하기</button>

{% endblock %}